# python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# environments
.venv/
venv/
.env

# system files
.DS_Store

# package metadata
PKG-INFO
SOURCES.txt
*/*.egg-info/*
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/entry_points.txt
*.egg-info/dependency_links.txt
*.egg-info/requires.txt
*.egg-info/top_level.txt

# IDE files
.idea/
.vscode/
*.swp
*.swo

# logs
*.log